<style type="text/css">
.pantalla-dasboard{
	background-image: url("img/expo/msi_1.jpg");
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
	position: relative;
}
.botonera-principal{
	position: absolute;
	top: 250px;
	width: 100%
}
#pantalla-principal > div{
	height: 100%;
}

.pantalla-dasboard div.titulo{
	position: absolute;
    top: 20px;
    color: #178635;
    font-size: 3em;
    width: 100%;
}

.pantalla-dasboard .jgc-card .card-btn a {
    padding: 11px 11px 11px 11px!important;
}


</style>
<div class="pantalla-dasboard">
	<div class="titulo text-center">SAN ISIDRO</div>
	<div class="botonera-principal">
		<div class="row ">
			<div class="col-xs-offset-5 col-xs-6">
				<jgc-card>
					<div class="card-link">
						<a href="" data-ui-sref="sis.licencias-mapa" >Licencias</a>
					</div>
				</jgc-card>
			</div>
		</div>

		<div class="row ">
			<div class="col-xs-offset-5 col-xs-6">
				<jgc-card>
					<div class="card-link">
						<a href="" data-ui-sref="sis.licencias-mapa" >Fiscalización</a>
					</div>
				</jgc-card>
			</div>
		</div>

		<div class="row ">
			<div class="col-xs-offset-5 col-xs-6">
				<jgc-card>
					<div class="card-link">
						<a href="" data-ui-sref="sis.licencias-mapa" >Presupuesto</a>
					</div>
				</jgc-card>
			</div>
		</div>

		<div class="row ">
			<div class="col-xs-offset-5 col-xs-6">
				<jgc-card>
					<div class="card-link">
						<a href="" data-ui-sref="sis.licencias-mapa" >Obras</a>
					</div>
				</jgc-card>
			</div>
		</div>
		<div class="row ">
			<div class="col-xs-offset-5 col-xs-6">
				<jgc-card>
					<div class="card-link">
						<a href="" data-ui-sref="sis.licencias-mapa" >Cultura</a>
					</div>
				</jgc-card>
			</div>
		</div>

	</div>

</div>